# Normalise line endings to LF for all text files
* text=auto eol=lf

# Force binary for these
*.db binary
*.db-journal binary
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.pdf binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
